.jumbotron{
    background-color: aqua;
}

.form-control{
    width: 20%;
    text-align: center;
}

.fixed-bottom{
    text-align: center;
}

.container{
    width: 40%;
}

li{
    margin-bottom: 1%;
}